.divSectionAboutMe {
  display: flex;
  gap: 40px;
  height: auto;
  align-items: center;
  background-color: white;
  box-shadow: rgb(156 148 148) 4px 3px 14px 0px;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 1400px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.textContainer {
  font-size: 18px;
  padding-left: 12rem;
  color: #606060;
}
.title {
  font-size: 40px;
  text-align: left;
  color: #606060;
  padding-left: 5rem;
  font-weight: normal;
  padding-top: 6rem;
}

.avatarImg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 70px;
}
