.divSectionContact {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  justify-content: center;
  padding: 80px;
}

.linkBlog:hover {
  filter: drop-shadow(0.9px 0.9px black);
}

#medias {
  width: 50px;
  padding-top: 20px;
  color: #606060;
  font-size: 2.5rem;
  text-decoration: none;
}

.medias:hover {
  filter: drop-shadow(2px 4px 6px black);
}
