.divSectionContact {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  justify-content: center;
  padding: 50px;
}

.linkBlog:hover {
  filter: drop-shadow(0.9px 0.9px black);
}

.medias {
  width: 50px;
  padding-top: 20px;
}

.medias:hover {
  filter: drop-shadow(2px 4px 6px black);
}
