.linkBlog:hover {
  filter: drop-shadow(0.9px 0.9px black);
}
.divLandingSection4 {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  justify-content: center;
  padding: 50px;
}
.midias {
  width: 50px;
  padding-top: 20px;
}
.midias:hover {
  filter: drop-shadow(2px 4px 6px black);
}
.textAboutMe {
  font-size: 20px;
  padding-left: 5rem;
}
