.divSectionHome {
  padding-top: 65px;
}

#imgHome {
  width: 100%;
  max-height: 900px;
  position: relative;
}

.homeTitle {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 1.5rem 0px;
  position: absolute;
  top: 15%;
  z-index: 100;
  text-align: center;
  width: 100%;
  position: absolute;
}

.titleMeName {
  color: rgb(0, 0, 0);
  font-family: GochiHand, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  left: 50%;
}

/* .titlePortfolio {
  padding: 10rem 0px;
  position: relative;
  z-index: 100;
  text-align: center;
  width: 100%;
  font-family: fantasy;
  font-size: 80px;
} */
