#imgHome {

  height: 100vh;
  width: 100%;
  position: relative;
  object-fit: cover;
}

.homeTitle {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  position: absolute;
  color: #606060;
 
}

.titleMeName {
  color: #606060;
  font-family: ;
  font-size: 4.5rem;
  font-weight: normal;
  left: 50%;

}
