@media only screen and (max-width: 660px) {
  .html {
    font-size: 22px;
  }

  .textAboutMe {
    display: flex;
    padding-left: 3rem;
    padding-right: 4rem;
    font-size: 20px;
  }
  .divSectionAboutMe {
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
  }
  .header {
    font-size: 16px;
  }
  .titleMeName {
    font-size: 2.5rem;
  }
  .title {
    font-size: 26px;
    padding-left: 2rem;
  }
  .homeTitle {
    top: 13%;
  }
  .textContainer {
    padding-left: 2rem;
    padding-bottom: 59px;
  }
  .header {
    font-size: 23px;
    padding: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 15px;
  }
  .linkBlog {
    padding: 15px;
  }
  .header {
    font-size: 13px;
  }
  .homeTitle {
    top: 6%;
  }
  .title {
    padding-top: 2.5rem;
  }
  .titleMeName {
    padding: 0.5rem 0px;
  }
  .textContainer {
    font-size: 35px;
    padding-left: 2rem;
    padding-bottom: 4px;
  }
  .avatarImg {
    width: 160px;
    height: 160px;
    padding: 35px;
  }
  .divSectionAboutMe {
    width: 85%;
    gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
  }
  #imgHome {
    width: 100%;
    position: relative;
    height: 114%;
  }
  .textAboutMe {
    font-size: 15px;
  }
}
