.divSectionProject {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  margin: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.links {
  padding: 25px;
  text-decoration: none;
  text-align: center;

  font-size: 175%;
  color: darkgray;
  margin: auto;
  display: grid;
  border-radius: 10px;
}

.imagesFormat  {
  width: 300px;
 
}

.imagesFormat:hover  {
  transform: scale(1.5);
 
}
